<ion-header>
  <ion-toolbar>
    <ion-title>
      Notify!
    </ion-title>
    <ion-buttons slot="end">
      <div *ngIf="online$ | async; else offline"></div>
      <ng-template #offline>
        <ion-chip color="warning">
          <ion-label>Offline</ion-label>
        </ion-chip>
      </ng-template>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let e of getEvents()" size-xs="12" size-sm="6" size-md="4" size-lg="3" size-xl="2">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>
              {{e.event.created | date:'short'}}
            </ion-card-subtitle>
            <ion-card-title>{{e.event.caller.firstName}} {{e.event.caller.lastName}}</ion-card-title>
          </ion-card-header>

          <ion-item>
            <ion-icon name="alert" slot="start" color="danger"></ion-icon>
            <ion-button fill="outline" slot="end" (click)="details(e)">Details</ion-button>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>